<launch>
    <node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="57600" />
    </node>

    <param name="robot_description"
           command="$(find xacro)/xacro.py --inorder '$(find first_description)/robot/first.rviz.xacro'" />

    <include file="$(find first_hardware)/launch/hardware.launch" />

    <rosparam file="$(find first_control)/config/hardware/first_control.yml" command="load" />
    <include file="$(find first_control)/launch/control.launch" />
</launch>
